# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*.plt
*.out
*.in
intype
flow_out
grid_out
mixbconds
*.log
*.dat
stopit
.idea
